<nav class="desktop full">
	<ul class="wrapper">
		<li>
			<a href="#/#">Home</a>
		</li>
		<li>
			<a href="#/order/#">Order</a>
		</li>
		<li>
			<a href="#/learn/#">Learn</a>
		</li>
		<li>
			<a href="#/contact/#">Contact</a>
		</li>
		<input type="search" name="search" placeholder="Search Titles" ng-model="searchTitles">
	</ul>
</nav>
<nav class="tablet mobile full">
	<ul class="wrapper">
		<li>
			<a href="#/#">Home</a>
		</li>
		<li>
			<a href="#/order/#">Order</a>
		</li>
		<li>
			<a href="#/learn/#">Learn</a>
		</li>
		<li>
			<a href="#/contact/#">Contact</a>
		</li>
	</ul>
	<input class="full" type="search" name="search" placeholder="Search Titles" ng-model="searchTitles">
</nav>