<div class="body full">
	<div class="constrain">
		<div class="content full">
			<h1>Order Magazines</h1>
			<h2>Select any number of titles</h2>
		</div>
	</div>
	<form name="input" method="post" action="mailto:rsmith@finixcreative.com">
		<div class="publications wrapper">
			<ul>
				<li ng-repeat="product in display.products | orderBy: 'title' | filter: searchTitles">
					<h5>{{ product.title }}</h5>
					<input type="checkbox" name="magazine" value="{{ product.title }}">
					<a href="#"><img ng-src="{{ product.image }}"/></a>
					</input>
				</li>
			</ul>
			<div id="displayracks">
				<h4>Free Display Racks!</h4>
				<p>20-pocket Display <span class="italics">(minimum 20 titles)</span></p>
				<p>15-pocket Sophisticate Display <span class="italics">(minimum 15 Adult titles)</span></p>
				<p>23-pocket Sophisticate Display <span class="italics">(minimum 23 Adult titles)</span></p>
			</div>
		</div>
	</form>

	<ul id="tiles full">
		<li class="tile fifth" ng-repeat="product in products.products">
			<a class="full" href="#/products/{{product.name}}/#">
				<img class="full" src="{{product.background.src}}" alt="{{product.background.alt}}"/>
				<div class="product text-box">
					<img class="icon" src="{{product.icon.src}}" alt="{{product.icon.alt}}"/>
					<h3>{{product.name}}</h3>
				</div>
			</a>
		</li>
	</ul>
</div>