<div class="wrapper">
	<div class="content half">
		<h1>Order</h1>
		<p>Select titles below</p>
	</div>
	<div class="content half">
		<h3>Find</h3>
		<input class="full" type="search" name="search" placeholder="Search Titles" ng-model="searchTitles">
		<select class="full" name="filter" ng-model="searchTitles">
			<option value="" selected disabled>Filter</option>
			<option value="Tabloids">Tabloids</option>
			<option value="News & Entertainment">News &amp; Entertainment</option>
			<option value="Sports & Health">Sports &amp; Health</option>
			<option value="Men & Fashion">Men &amp; Fashion</option>
			<option value="Auto & Racing">Auto &amp; Racing</option>
			<option value="Women & Fashion">Women &amp; Fashion</option>
			<option value="Business">Business</option>
			<option value="Children">Children</option>
			<option value="Computer">Computer</option>
			<option value=""></option>
			<option value=""></option>
			<option value=""></option>
		</select>
		<input class="full" type="search" name="search" placeholder="Search Titles" ng-model="searchTitles">
	</div>
</div>
<form class="full" name="input" method="post" action="mailto:rsmith@finixcreative.com">
	<div class="publications wrapper">
		<ul>
			<li class="tile fifth" ng-repeat="product in display.products | orderBy: ['genre', 'title'] | filter: searchTitles">
				<label for="{{ product.title }}">
					<input class="full" type="checkbox" name="{{ product.title }}" value="selected">
						<img class="checkbox-image full" ng-src="{{ product.image }}"/>
					</input>
					<div class="text-box full">
						<h4>{{ product.title }}</h4>
					</div>
				</label>
			</li>
		</ul>
	</div>
</form>