<div class="wrapper">
	<div class="content full">
		<h3>Step 2: General Info</h3>
	</div>
	<div class="content full">
		<div class="quarter" ng-repeat="product in products.products | orderBy: ['genre', 'title']" ng-show="product.selected">
			<p>
				<input type="checkbox" value="selected" ng-model="product.selected">
				{{ product.title }}
			</p>
		</div>
	</div>
	<div class="form-body full">
		<div class="content full">
			<input class="button full" type="text" name="" value="" placeholder="Store Name" required>
		</div>
		<div class="content half">
			<input class="button full" type="text" name="" value="" placeholder="Email" required>
		</div>
		<div class="content half">
			<input class="button full" type="text" name="" value="" placeholder="Phone" required>
		</div>
		<div class="content half">
			<input class="button full" type="text" name="" value="" placeholder="Cell">
		</div>
		<div class="content half">
			<input class="button full" type="text" name="" value="" placeholder="Fax">
		</div>
	</div>
	<div class="content full">
		<button class="submit button middle center" ng-click="panel.selectTab(3)">Next ></button>
	</div>
</div>